<li>
    <div class="package-widget package-widget-with-logo">
        <a class="package-logo" href="/packages/{{name}}">
            <img src="{{logo}}" alt="{{name}} logo">
        </a>
        <div class="package-details">
            <h3>
                <a class="name" href="/packages/{{name}}">{{name}}</a>
            </h3>
            <p class="description">{{description}}</p>
            <p class="author quiet">
                <a class="version" href="/packages/{{name}}">{{version}}</a>
                published by
                <a href="/~{{publishedBy.name}}">{{publishedBy.name}}</a>
            </p>
        </div>
    </div>
</li>
